In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#import csv data
airbnba = "./Resources/listings .csv" 
airbnba_df = pd.read_csv(airbnba)
airbnba_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1078,*UT/Hyde Park Craftsman Apartment,4635658,Tracy,NaN,78705,30.30123,-97.73674,Entire home/apt,85,2,221,2019-04-28,1.70,2,26
1,2265,Zen-East in the Heart of Austin,2466,Paddy,NaN,78702,30.27750,-97.71398,Entire home/apt,225,28,24,2019-03-16,0.19,3,82
2,5245,"Green, Colorful, Clean & Cozy home",2466,Paddy,NaN,78702,30.27577,-97.71379,Private room,100,28,9,2018-03-14,0.07,3,41
3,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26112,-97.73448,Entire home/apt,95,2,481,2019-04-23,3.88,1,290
4,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.45596,-97.78370,Private room,40,1,246,2019-04-28,2.22,1,69

In [3]:
# delete the column neighbourhood_group
del airbnba_df['neighbourhood_group']
del airbnba_df['name']
airbnba_df.head()

,id,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1078,4635658,Tracy,78705,30.30123,-97.73674,Entire home/apt,85,2,221,2019-04-28,1.70,2,26
1,2265,2466,Paddy,78702,30.27750,-97.71398,Entire home/apt,225,28,24,2019-03-16,0.19,3,82
2,5245,2466,Paddy,78702,30.27577,-97.71379,Private room,100,28,9,2018-03-14,0.07,3,41
3,5456,8028,Sylvia,78702,30.26112,-97.73448,Entire home/apt,95,2,481,2019-04-23,3.88,1,290
4,5769,8186,Elizabeth,78729,30.45596,-97.78370,Private room,40,1,246,2019-04-28,2.22,1,69

In [4]:
total_rows = airbnba_df.count
total_rows

<bound method DataFrame.count of              id    host_id          host_name  neighbourhood  latitude  \
0          1078    4635658              Tracy          78705  30.30123
1          2265       2466              Paddy          78702  30.27750
2          5245       2466              Paddy          78702  30.27577
3          5456       8028             Sylvia          78702  30.26112
4          5769       8186          Elizabeth          78729  30.45596
5          6413      13879               Todd          78704  30.24829
6          6448      14156                Amy          78704  30.26027
7          8502      25298              Karen          78741  30.23616
8         14765      57982             Charla          78704  30.25012
9         14913      58635             Steven          78748  30.15645
10        21126      80406               Dani          78704  30.24503
11        21145      80511              April          78705  30.29422
12        22166      84906             Stacey          78759  30.38957
13        22828      56488              David          78741  30.23564
14        22982      89031               Gina          78703  30.28027
15        25028     102862              Elana          78757  30.33766
16        32396     140174            Tiffany          78749  30.20273
17        37324     161189              Chris          78727  30.43030
18        39993     210965  Susan And Anthony          78703  30.29996
19        40285     170787             Robbie          78731  30.35141
20        46929     210965  Susan And Anthony          78703  30.30038
21        47572     215917            Belinda          78758  30.37641
22        50310     230553            Sevylla          78744  30.20093
23        50318      12409               Flip          78705  30.28625
24        50334     230747            Suzanne          78703  30.28271
25        51100     235136             Charla          78703  30.28188
26        56690     268988          Stephanie          78704  30.24440
27        57187     272156               Lois          78704  30.25596
28        62279     303006              Paula          78703  30.29717
29        68130     336916               Drew          78751  30.31171
...         ...        ...                ...            ...       ...
11762  34642698  106340647               Nate          78702  30.26794
11763  34643981    9998372     Sterling Smith          78741  30.22499
11764  34644279    9998372     Sterling Smith          78741  30.22677
11765  34644493    9998372     Sterling Smith          78741  30.22705
11766  34644767    9998372     Sterling Smith          78741  30.22630
11767  34646653  260633089           Ghufrana          78758  30.41659
11768  34646958  137535245  Danielle And Alex          78702  30.26987
11769  34648265    4264010              Laura          78744  30.19274
11770  34650676   18265889              Yinxi          78746  30.33261
11771  34653032  251797671             Tayler          78701  30.26500
11772  34655253   53060136                Ian          78758  30.38898
11773  34655525   44506165            Mary K.          78745  30.21577
11774  34655688   44506165            Mary K.          78745  30.21419
11775  34658155  261480679              Brett          78759  30.42980
11776  34670991    7506058              Ellen          78723  30.28801
11777  34673947   34592029           Mary Ann          78717  30.50663
11778  34678178   88172065             Hunain          78705  30.28821
11779  34678379   38977620            Zachary          78705  30.29030
11780  34681729  260004188           Benjamin          78701  30.27128
11781  34683277  261624879          Aj & Zara          78722  30.28344
11782  34684047   22949227              Slava          78751  30.31349
11783  34684359  165841325              Cayce          78704  30.23204
11784  34685715  133158856             Marina          78745  30.19748
11785  34686703   45272917               Luke          78729  30.45728
11786  34687104   48643915               Emma          78751  30.29847
11787  34687636  261664961               John          78704  30.25936
11788  34687994   48643915               Emma          78751  30.29930
11789  34689047  134599177                Sam          78728  30.44761
11790  34693490  259250515              Villa          78704  30.25535
11791  34698024     250242              Karen          78705  30.29282

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -97.73674  Entire home/apt     85               2                221
1      -97.71398  Entire home/apt    225              28                 24
2      -97.71379     Private room    100              28                  9
3      -97.73448  Entire home/apt     95               2                481
4      -97.78370     Private room     40               1                246
5      -97.73726  Entire home/apt     99               4                 94
6      -97.76503  Entire home/apt    129               3                206
7      -97.73682  Entire home/apt     40               3                 45
8      -97.74193  Entire home/apt    260               2                 47
9      -97.82411  Entire home/apt    300               1                 25
10     -97.74075  Entire home/apt    550               1                 80
11     -97.74618  Entire home/apt    220               2                 32
12     -97.76216  Entire home/apt    155              30                  9
13     -97.73146  Entire home/apt     54              31                 35
14     -97.75596  Entire home/apt     95               2                130
15     -97.73726  Entire home/apt    100              30                 31
16     -97.84439  Entire home/apt     55               1                  9
17     -97.69125     Private room     35               2                 31
18     -97.77832  Entire home/apt     59               2                110
19     -97.76323  Entire home/apt    350               2                 28
20     -97.77886  Entire home/apt    105               2                345
21     -97.70926     Private room     52               3                  1
22     -97.75318  Entire home/apt     40               3                234
23     -97.75022  Entire home/apt    100               5                 28
24     -97.75881  Entire home/apt    300               7                  3
25     -97.76413  Entire home/apt    500               3                  2
26     -97.75121  Entire home/apt    150               2                156
27     -97.76866  Entire home/apt     99               1                564
28     -97.77102  Entire home/apt    249               3                  0
29     -97.72455  Entire home/apt     89               2                420
...          ...              ...    ...             ...                ...
11762  -97.73209  Entire home/apt    200               3                  0
11763  -97.71391      Shared room     60               1                  0
11764  -97.71402      Shared room     35               1                  0
11765  -97.71531      Shared room     69               1                  0
11766  -97.71396      Shared room     69               1                  0
11767  -97.69856  Entire home/apt    125               1                  0
11768  -97.72803  Entire home/apt    127               1                  0
11769  -97.74193  Entire home/apt    100               1                  0
11770  -97.80782  Entire home/apt    150              21                  0
11771  -97.74716  Entire home/apt    180               1                  0
11772  -97.70298     Private room     50               1                  0
11773  -97.79524     Private room     50              28                  0
11774  -97.79484     Private room     45              28                  0
11775  -97.76366  Entire home/apt     85               1                  0
11776  -97.70563     Private room    111               1                  0
11777  -97.74052  Entire home/apt    119               2                  0
11778  -97.74442     Private room     40              14                  0
11779  -97.74237  Entire home/apt     90               1                  0
11780  -97.74730  Entire home/apt    120              90                  0
11781  -97.71726  Entire home/apt     49               1                  0
11782  -97.71739  Entire home/apt     95               1                  0
11783  -97.78805  Entire home/apt    110              28                  0
11784  -97.79615  Entire home/apt    100               2                  0
11785  -97.77939     Private room     40               1                  0
11786  -97.72225     Private room     30               1                  0
11787  -97.76137     Private room    150               2                  0
11788  -97.72254     Private room     29               1                  0
11789  -97.67032     Private room     30               1                  0
11790  -97.74642  Entire home/apt    115               1                  0
11791  -97.72348  Entire home/apt     90              14                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2019-04-28               1.70                               2
1      2019-03-16               0.19                               3
2      2018-03-14               0.07                               3
3      2019-04-23               3.88                               1
4      2019-04-28               2.22                               1
5      2019-05-06               0.82                               1
6      2019-05-05               2.20                               2
7      2018-10-09               0.40                               1
8      2019-04-14               0.63                               1
9      2018-08-26               0.40                               1
10     2019-05-07               1.05                              11
11     2019-02-18               0.81                               1
12     2015-07-04               0.08                               1
13     2019-02-28               0.31                               1
14     2019-04-20               1.17                               1
15     2018-12-22               0.28                               1
16     2012-10-02               0.08                               1
17     2019-05-04               0.64                               1
18     2019-05-12               1.75                               2
19     2016-11-27               0.28                               1
20     2019-05-12               3.30                               2
21     2019-03-19               0.53                               1
22     2019-05-05               2.24                               2
23     2019-03-17               0.27                               2
24     2015-03-18               0.03                               1
25     2019-05-12               0.02                               1
26     2019-05-05               1.57                               2
27     2019-05-05               5.54                               2
28            NaN                NaN                               1
29     2019-04-28               4.15                               1
...           ...                ...                             ...
11762         NaN                NaN                               1
11763         NaN                NaN                               8
11764         NaN                NaN                               8
11765         NaN                NaN                               8
11766         NaN                NaN                               8
11767         NaN                NaN                               1
11768         NaN                NaN                               3
11769         NaN                NaN                               2
11770         NaN                NaN                               2
11771         NaN                NaN                               1
11772         NaN                NaN                               1
11773         NaN                NaN                               3
11774         NaN                NaN                               3
11775         NaN                NaN                               1
11776         NaN                NaN                               2
11777         NaN                NaN                               1
11778         NaN                NaN                               1
11779         NaN                NaN                               2
11780         NaN                NaN                               1
11781         NaN                NaN                               1
11782         NaN                NaN                               3
11783         NaN                NaN                               3
11784         NaN                NaN                               1
11785         NaN                NaN                               1
11786         NaN                NaN                               2
11787         NaN                NaN                               1
11788         NaN                NaN                               2
11789         NaN                NaN                               2
11790         NaN                NaN                               1
11791         NaN                NaN                               1

       availability_365
0                    26
1                    82
2                    41
3                   290
4                    69
5                     0
6                   100
7                   175
8                   133
9                     0
10                  137
11                   93
12                  347
13                  237
14                  294
15                  227
16                  133
17                  271
18                  289
19                  364
20                  240
21                  357
22                  263
23                  319
24                  365
25                  210
26                   85
27                  251
28                  365
29                   88
...                 ...
11762                43
11763                65
11764                65
11765                65
11766                65
11767               170
11768               270
11769                21
11770                33
11771                 5
11772               174
11773                62
11774                62
11775               196
11776               154
11777                76
11778                62
11779                81
11780               134
11781                51
11782                58
11783                57
11784                12
11785                79
11786                12
11787               170
11788                17
11789                12
11790                45
11791                82

[11792 rows x 14 columns]>

In [5]:
#Keep only the rows without non-NA values
airbnba_df.dropna(inplace=True)
airbnba_df.head()

,id,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1078,4635658,Tracy,78705,30.30123,-97.73674,Entire home/apt,85,2,221,2019-04-28,1.70,2,26
1,2265,2466,Paddy,78702,30.27750,-97.71398,Entire home/apt,225,28,24,2019-03-16,0.19,3,82
2,5245,2466,Paddy,78702,30.27577,-97.71379,Private room,100,28,9,2018-03-14,0.07,3,41
3,5456,8028,Sylvia,78702,30.26112,-97.73448,Entire home/apt,95,2,481,2019-04-23,3.88,1,290
4,5769,8186,Elizabeth,78729,30.45596,-97.78370,Private room,40,1,246,2019-04-28,2.22,1,69

In [6]:
total_rows = airbnba_df.count
total_rows

<bound method DataFrame.count of              id    host_id          host_name  neighbourhood  latitude  \
0          1078    4635658              Tracy          78705  30.30123
1          2265       2466              Paddy          78702  30.27750
2          5245       2466              Paddy          78702  30.27577
3          5456       8028             Sylvia          78702  30.26112
4          5769       8186          Elizabeth          78729  30.45596
5          6413      13879               Todd          78704  30.24829
6          6448      14156                Amy          78704  30.26027
7          8502      25298              Karen          78741  30.23616
8         14765      57982             Charla          78704  30.25012
9         14913      58635             Steven          78748  30.15645
10        21126      80406               Dani          78704  30.24503
11        21145      80511              April          78705  30.29422
12        22166      84906             Stacey          78759  30.38957
13        22828      56488              David          78741  30.23564
14        22982      89031               Gina          78703  30.28027
15        25028     102862              Elana          78757  30.33766
16        32396     140174            Tiffany          78749  30.20273
17        37324     161189              Chris          78727  30.43030
18        39993     210965  Susan And Anthony          78703  30.29996
19        40285     170787             Robbie          78731  30.35141
20        46929     210965  Susan And Anthony          78703  30.30038
21        47572     215917            Belinda          78758  30.37641
22        50310     230553            Sevylla          78744  30.20093
23        50318      12409               Flip          78705  30.28625
24        50334     230747            Suzanne          78703  30.28271
25        51100     235136             Charla          78703  30.28188
26        56690     268988          Stephanie          78704  30.24440
27        57187     272156               Lois          78704  30.25596
29        68130     336916               Drew          78751  30.31171
30        69303     272156               Lois          78704  30.26070
...         ...        ...                ...            ...       ...
11620  34277139  161726313              Ilona          78702  30.27977
11624  34289583  126619424    Sami & Caroline          78705  30.29525
11625  34289644  126619424    Sami & Caroline          78705  30.29654
11627  34300815  245401589         Sha’Ravion          78741  30.23335
11634  34309478  104309976        WanderJaunt          78746  30.25928
11636  34312388   91979372                Kim          78745  30.22408
11643  34332754  253518215               Bato          78705  30.29143
11644  34334500  257664490            Erineka          78722  30.28495
11649  34339984  256612777          The Guild          78701  30.26676
11650  34339994   60103325             Meggie          78704  30.24637
11652  34341760  259092705        Casa Blanca          78701  30.26134
11654  34343420  251180254                Jon          78704  30.26215
11660  34364836   97052677        Christopher          78704  30.25490
11668  34388931   86880871            Genesis          78736  30.23052
11678  34412885   95741259               Matt          78751  30.30734
11682  34417994  253261252             Kailum          78751  30.30230
11683  34423838  187678004            Melissa          78724  30.25898
11688  34447070    4747837              Sarah          78704  30.25266
11689  34447172  110560700            Haritha          78751  30.30706
11697  34474990  160527098              Ariel          78745  30.19909
11700  34476765  104309976        WanderJaunt          78701  30.27177
11709  34500372    1833254              Leyla          78702  30.25970
11713  34506758  104309976        WanderJaunt          78701  30.27157
11721  34515948  115385577              Laura          78705  30.29088
11725  34538647  173577896               Greg          78741  30.23852
11726  34538859    1833254              Leyla          78702  30.27422
11730  34567478  201062251           Jennifer          78704  30.24122
11731  34569032  104309976        WanderJaunt          78701  30.26960
11737  34574163  104309976        WanderJaunt          78741  30.24074
11750  34600376     334044             Darren          78735  30.24938

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -97.73674  Entire home/apt     85               2                221
1      -97.71398  Entire home/apt    225              28                 24
2      -97.71379     Private room    100              28                  9
3      -97.73448  Entire home/apt     95               2                481
4      -97.78370     Private room     40               1                246
5      -97.73726  Entire home/apt     99               4                 94
6      -97.76503  Entire home/apt    129               3                206
7      -97.73682  Entire home/apt     40               3                 45
8      -97.74193  Entire home/apt    260               2                 47
9      -97.82411  Entire home/apt    300               1                 25
10     -97.74075  Entire home/apt    550               1                 80
11     -97.74618  Entire home/apt    220               2                 32
12     -97.76216  Entire home/apt    155              30                  9
13     -97.73146  Entire home/apt     54              31                 35
14     -97.75596  Entire home/apt     95               2                130
15     -97.73726  Entire home/apt    100              30                 31
16     -97.84439  Entire home/apt     55               1                  9
17     -97.69125     Private room     35               2                 31
18     -97.77832  Entire home/apt     59               2                110
19     -97.76323  Entire home/apt    350               2                 28
20     -97.77886  Entire home/apt    105               2                345
21     -97.70926     Private room     52               3                  1
22     -97.75318  Entire home/apt     40               3                234
23     -97.75022  Entire home/apt    100               5                 28
24     -97.75881  Entire home/apt    300               7                  3
25     -97.76413  Entire home/apt    500               3                  2
26     -97.75121  Entire home/apt    150               2                156
27     -97.76866  Entire home/apt     99               1                564
29     -97.72455  Entire home/apt     89               2                420
30     -97.77194  Entire home/apt    145               2                 68
...          ...              ...    ...             ...                ...
11620  -97.72136  Entire home/apt   1900               1                  3
11624  -97.73934  Entire home/apt     69               1                  4
11625  -97.73813  Entire home/apt     69               1                  1
11627  -97.72862      Shared room     88               1                  1
11634  -97.80953  Entire home/apt  10000               1                  1
11636  -97.80307     Private room     40               2                  1
11643  -97.74778     Private room     44               1                  2
11644  -97.70940  Entire home/apt    100               2                  2
11649  -97.74886  Entire home/apt    200               1                  1
11650  -97.74650     Private room     40               1                  1
11652  -97.73746  Entire home/apt    145               3                  1
11654  -97.77322  Entire home/apt     50               1                  1
11660  -97.77328  Entire home/apt    500               2                  3
11668  -97.88747     Private room     40               1                  1
11678  -97.71637  Entire home/apt     45               1                  1
11682  -97.72929     Private room     29               1                  2
11683  -97.58457     Private room     29               1                  1
11688  -97.78048     Private room     67               2                  1
11689  -97.72424  Entire home/apt     65               1                  1
11697  -97.82913  Entire home/apt     99               1                  1
11700  -97.74938  Entire home/apt  10000               1                  1
11709  -97.71529  Entire home/apt    125               2                  1
11713  -97.74974  Entire home/apt  10000               1                  1
11721  -97.74538  Entire home/apt     99               1                  2
11725  -97.72231  Entire home/apt    100               2                  1
11726  -97.71555  Entire home/apt    240               2                  1
11730  -97.77933  Entire home/apt     10              21                  1
11731  -97.74948  Entire home/apt  10000               1                  1
11737  -97.72332  Entire home/apt  10000               1                  1
11750  -97.86125     Private room     40               1                  1

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2019-04-28               1.70                               2
1      2019-03-16               0.19                               3
2      2018-03-14               0.07                               3
3      2019-04-23               3.88                               1
4      2019-04-28               2.22                               1
5      2019-05-06               0.82                               1
6      2019-05-05               2.20                               2
7      2018-10-09               0.40                               1
8      2019-04-14               0.63                               1
9      2018-08-26               0.40                               1
10     2019-05-07               1.05                              11
11     2019-02-18               0.81                               1
12     2015-07-04               0.08                               1
13     2019-02-28               0.31                               1
14     2019-04-20               1.17                               1
15     2018-12-22               0.28                               1
16     2012-10-02               0.08                               1
17     2019-05-04               0.64                               1
18     2019-05-12               1.75                               2
19     2016-11-27               0.28                               1
20     2019-05-12               3.30                               2
21     2019-03-19               0.53                               1
22     2019-05-05               2.24                               2
23     2019-03-17               0.27                               2
24     2015-03-18               0.03                               1
25     2019-05-12               0.02                               1
26     2019-05-05               1.57                               2
27     2019-05-05               5.54                               2
29     2019-04-28               4.15                               1
30     2019-05-12               0.69                               2
...           ...                ...                             ...
11620  2019-05-05               3.00                               1
11624  2019-05-09               4.00                               8
11625  2019-05-08               1.00                               8
11627  2019-05-04               1.00                               2
11634  2019-05-11               1.00                              55
11636  2019-05-04               1.00                               2
11643  2019-05-13               2.00                              12
11644  2019-05-10               2.00                               1
11649  2019-05-12               1.00                               2
11650  2019-05-12               1.00                               1
11652  2019-05-05               1.00                               1
11654  2019-05-12               1.00                               2
11660  2019-05-09               3.00                               4
11668  2019-05-13               1.00                               1
11678  2019-05-12               1.00                               1
11682  2019-05-12               2.00                               1
11683  2019-05-11               1.00                               1
11688  2019-05-13               1.00                               1
11689  2019-05-06               1.00                               1
11697  2019-05-13               1.00                               7
11700  2019-05-13               1.00                              55
11709  2019-05-12               1.00                               6
11713  2019-05-11               1.00                              55
11721  2019-05-13               2.00                               2
11725  2019-05-09               1.00                               1
11726  2019-05-12               1.00                               6
11730  2019-05-13               1.00                               1
11731  2019-05-12               1.00                              55
11737  2019-05-12               1.00                              55
11750  2019-05-12               1.00                               1

       availability_365
0                    26
1                    82
2                    41
3                   290
4                    69
5                     0
6                   100
7                   175
8                   133
9                     0
10                  137
11                   93
12                  347
13                  237
14                  294
15                  227
16                  133
17                  271
18                  289
19                  364
20                  240
21                  357
22                  263
23                  319
24                  365
25                  210
26                   85
27                  251
29                   88
30                  234
...                 ...
11620               349
11624                29
11625                26
11627               348
11634               171
11636                91
11643                42
11644                73
11649               313
11650                57
11652               161
11654               320
11660               131
11668                 9
11678               359
11682                80
11683                66
11688                43
11689               359
11697               146
11700               175
11709                19
11713               169
11721                38
11725                82
11726                 9
11730                48
11731               167
11737               168
11750               347

[9270 rows x 14 columns]>

In [7]:
# set index for the dataframe
finalairbnba_df= airbnba_df .reset_index()
finalairbnba_df.head(10)

,index,id,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,0,1078,4635658,Tracy,78705,30.30123,-97.73674,Entire home/apt,85,2,221,2019-04-28,1.70,2,26
1,1,2265,2466,Paddy,78702,30.27750,-97.71398,Entire home/apt,225,28,24,2019-03-16,0.19,3,82
2,2,5245,2466,Paddy,78702,30.27577,-97.71379,Private room,100,28,9,2018-03-14,0.07,3,41
3,3,5456,8028,Sylvia,78702,30.26112,-97.73448,Entire home/apt,95,2,481,2019-04-23,3.88,1,290
4,4,5769,8186,Elizabeth,78729,30.45596,-97.78370,Private room,40,1,246,2019-04-28,2.22,1,69
5,5,6413,13879,Todd,78704,30.24829,-97.73726,Entire home/apt,99,4,94,2019-05-06,0.82,1,0
6,6,6448,14156,Amy,78704,30.26027,-97.76503,Entire home/apt,129,3,206,2019-05-05,2.20,2,100
7,7,8502,25298,Karen,78741,30.23616,-97.73682,Entire home/apt,40,3,45,2018-10-09,0.40,1,175
8,8,14765,57982,Charla,78704,30.25012,-97.74193,Entire home/apt,260,2,47,2019-04-14,0.63,1,133
9,9,14913,58635,Steven,78748,30.15645,-97.82411,Entire home/apt,300,1,25,2018-08-26,0.40,1,0

In [8]:
#Connect to local database

In [9]:
rds_connection_string = "root:Eight1one@localhost:3306/airbnbaustin_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [10]:
engine.table_names()

['finalairbnba_data']

In [12]:
finalairbnba_df.to_sql(name='finalairbnba_data', con=engine, if_exists='append', index=False)